{%- extends "apostrophe-modal:baseSlideable.html" -%}
{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}

{%- block modalClass -%}
  apos-widget-tree apos-ui-modal-no-sidebar apos-modal-slideable
{%- endblock -%}

{%- block controls -%}
  {{ buttons.major('Done', { action: 'cancel' }, 'apos-button--major') }}
{%- endblock -%}

{%- block label -%}
  {{ __('SEO Page Scan') }}
{%- endblock -%}

{%- block body -%}
{% set scan = data.scanResult %}

  <div class="scan-modal">
    <div class="scan-modal-body">
      <p class="scan-modal-url">
        {% if data.workflow %}
          <span class="scan-modal-url__workflow-mode">
          {% if data.isDraft %}
            {{ __('Draft') }}
          {% else %}
            {{ __('Live') }}
          {% endif %}
          </span>
        {% endif %}
        {{ data.url }}
      </p>
      <h4>Meta Title</h4>
      <p class="scan-modal__result {% if scan.meta.title.error %}error{% endif %}">
        {{ scan.meta.title.msg }}
        {% if scan.meta.title.elemHtml %}
          <code>{{ scan.meta.title.elemHtml }}</code>
        {% endif %}
      </p>
      <h4>{{ __('Meta Description') }}</h4>
      <p class="scan-modal__result {% if scan.meta.description.error %}error{% endif %}">
        {{ scan.meta.description.msg }}
        {% if scan.meta.description.elemHtml %}
          <code>{{ scan.meta.description.elemHtml }}</code>
        {% endif %}
      </p>
      <h4>H1</h4>
        <p class="scan-modal__result {% if scan.h1.error %}error{% endif %}">
          {{ scan.h1.msg }}
        </p>
      <h4>{{ __('Content Size') }}</h4>
      <p class="scan-modal__result {% if scan.contentSize.error %}error{% endif %}">
        {{ scan.contentSize.msg }}
      </p>
      <div class="scan-modal-dead-links">
        <h4>{{ __('Dead Links (lead to 404)') }}</h4>
        {{ buttons.major(__ns('apostrophe', 'Scan'), { action: 'scan-dead-links' }) }}
        <div class="scan-modal-dead-links__content">
          <div class="scan-modal-dead-links__results internal">
            <ul></ul>
          </div>
          <div class="scan-modal-dead-links__results external">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block instructions -%}{%- endblock -%}
