{% if data.piece %}
  {% if data.piece.seoDescription %}
    {% set seoDescription = data.piece.seoDescription %}
  {% endif %}
{% else %}
  {% if data.page.seoDescription %}
    {% set seoDescription = data.page.seoDescription %}
  {% endif %}
{% endif %}
{% if data.piece.seoDescription or
      data.page.seoDescription %}
  <meta name="description" content="{{ seoDescription }}" />
{% endif %}

{% if data.page.seoRobots and data.page.seoRobots.length %}
  <meta name="robots" content="{{ data.page.seoRobots }}" />
{% endif %}

{% if data.global.seoGoogleVerificationId %}
<meta name="google-site-verification" content="{{ data.global.seoGoogleVerificationId }}" />
{% endif %}

{% if data.page._seoCanonical  %}
	<link rel="canonical" href="{{data.page._seoCanonical._url }}" />
{% endif %}

{% if data.global.seoGoogleTrackingId %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ data.global.seoGoogleTrackingId }}"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', '{{ data.global.seoGoogleTrackingId }}');
</script>
{% endif %}
