
@import 'menu.less';

.apos-ui {
  .apos-modal-body {
    .scan-modal {
        max-width: 700px;
        margin: 0 auto;

      &-url {
        font-weight: 600;
        margin: 20px 0;

        &__workflow-mode {
          display: inline-flex;
          justify-content: center;
          padding: 5px 8px;
          background-color: #ff793f;
          color: @apos-white;
          border-radius: 5px;
          text-align: center;
          margin-right: 10px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 3px;
        }
      }

      &-body {
        padding: 30px;

        h4 {
          font-size: 13px;
          font-weight: 500;
          margin: 18px 0 10px;
          color: #838383;
        }
      }

      &__result {
        position: relative;
        padding-left: 20px;
        margin: 7px 0 15px;

        code {
          display: block;
          max-width: 600px;
          margin: 5px 0 10px;
          padding: 5px;
          background-color: @apos-light;
          border-radius: 3px;
          border: solid 1px @apos-mid;
          color: @apos-red;
        }

        &:before {
          .fa;
          content: '\f00c';
          display: block;
          position: absolute;
          width: 15px;
          height: 15px;
          font-size: 9px;
          line-height: 16px;
          color: @apos-white;
          text-align: center;
          left: 0;
          top: 2.5px;
          border-radius: 100%;
          background-color: @apos-green;
        }

        &.error {
          &:before {
            content: '\f12a';
            background-color: @apos-red;
          }
        }
      }

      &-dead-links {
        .apos-button {
          margin-bottom: 10px;
          position: relative;
        }

        &.loading {
          .apos-button {
            &:after {
              content: '\f110';
              position: absolute;
              z-index: 10;
              width: 25px;
              height: 25px;
              right: -50px;
              left: auto;
              color: @apos-green;
              .fa;
              font-size: 25px;
              line-height: 100%;
              opacity: 1;
              .apos-rotate();
              .apos-transition();
            }
          }
        }

        &__results {
          margin: 15px 0;

          ul {
            > li {
              position: relative;
              padding-left: 20px;
              margin-left: 15px;

              a {
                color: @apos-blue;
              }

              &:before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                left: 5px;
                top: 8px;
                background-color: @apos-blue;
                border-radius: 50%;

              }
            }
          }
        }
      }

      &-images {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          li {
            flex-shrink: 1;
            width: 200px;
            height: 180px;
            margin: 20px;
            background-position: center;
            background-size: cover;


            // img {
            //   object-fit: cover;
            //   max-width: 100%;
            // }
          }
        }
      }
    }
  }
}
